@import './variables';
@import './mixins';
@import-normalize;

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  outline-color: var(--color-blue-outline);
}

html {
  background-color: var(--color-black);
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-black);
  margin: 0;
  font-size: 16px;
  background-image: url('../../public/images/sky.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

input, select { font-size: 100%; }

a {
  color: var(--color-black);
  text-decoration: none;
  transition: color var(--transitionTime);
}

.container {
  margin: 0 auto;
  padding-left: var(--gap40);
  padding-right: var(--gap40);

  @include media-tablet {
    padding-left: var(--gap20);
    padding-right: var(--gap20);
  }
}

