.root {
  letter-spacing: -0.03em;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.level-1 {
  font-size: 3.625rem;
  line-height: 4.5rem;
}

.level-2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.level-3 {
  font-size: 2.25rem;
  line-height: 3rem;
}

.level-4 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.level-5 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.level-6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.weight-medium {
  font-weight: 500;
}

.weight-semibold {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}
